# File structure
Stored
Stored/*
CoCoDist_Tests/*
CoCoDist_Tests
TMP
TMP/*
# Symbolic link
sync_TDM

# Unwanted endings
*.pyc
*.log
*.zip
*.7z
*.gz
*.db
*.swp
*.info

# Libraries, general and specific
*.so


